a{
    text-decoration: none;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
body{
    font-family: 'PT Sans', sans-serif;
}
.body_wrapper{
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 39px;
    position: relative;
}
.wrapper{
    box-sizing: border-box;
    padding: 0 85px;
}
.burger_menu,
.basket_button,
.search_button,
.adaptive_filter{
    display: none;
}
.search_button img{
    width: 16px;
    height: 16px;
}
header .wrapper{
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    background-color: #265C9A;
}
header ul{
    position: absolute;
    width: 100%;
    background-color: #265C9A;
    box-sizing: border-box;
    padding: 0 20px;
    display: none;
    padding-bottom: 10px;
}
header li{
    padding: 16px 10px;
    font-weight: bold;
}
header li:hover{
    background-color: #618CBF;
    border-radius: 1px;
}
header li a{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.logo{
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}
.telephone{
    font-size: 19px;
    line-height: 25px;
    color: #FFFFFF;
    margin-left: 86px;
}
.find_product{
    display: flex;
    align-items: center;
    width: 281px;
    border-bottom: 1px solid #517DAE;
    margin-left: 87px;
    padding-bottom: 7px;
}
.find_product input{
    width: 100%;
    margin-left: 7px;
    background-color: #265C9A;
    border: none;
    color: #FFFFFF;
}
.find_product input::placeholder{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF; 
}
.header_info-link{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: auto;
    text-decoration: underline;
}
.header_info-link:hover{
    color: #FBFF3D;
}
/* =================================== */


.types_nav .wrapper{
    height: 46px;
    background-color: #1F497B;
    display: flex;
    align-items: center;
}
.types_nav .wrapper a{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 32px;
}
.types_nav .wrapper a:first-child{
    margin-left: 0;
}
.types_nav .wrapper div{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.basket_pic{
    width: 17px;
    height: 16px;
    background: url(/img/basket_pic.svg) no-repeat center;
    
}
.types_nav .wrapper div a{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 9px;
}
.types_nav .wrapper a:hover{
    color: #FBFF3D;
    transition: .5s;
}
.types_nav .wrapper div:hover .basket_pic{
    width: 17px;
    height: 16px;
    background: url(/img/basket_hover-pic.svg) no-repeat center;
    transition: .5s;
}

/* =================================== */

.filters{
    margin-top: 25px;
}
.filters .wrapper{
    display: flex;
}
.filters select{
    width: 264px;
    height: 48px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    padding-left: 17px;
    appearance: none;
    background: url(/img/select_arrow.svg) no-repeat right;
    background-position-x: calc(100% - 18px);
}
.filters select:last-child{
    margin-left: 10px;
}

.filter_price{
    display: flex;
    align-items: center;
    margin-left: 27px;
}
.filter_price h3{
    font-size: 16px;
    line-height: 21px;
    color: #484848;
}
.filter_inputs{
    display: flex;
    align-items: center;
    height: 48px;
    box-sizing: border-box;
}
.filter_inputs div{
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    padding: 0 11px;
}
.filter_inputs div:last-child{
    display: flex;
    align-items: center;
    height: 100%;
    border-left: none;
}
.filter_inputs input{
    height: 90%;
    width: 100px;
    box-sizing: border-box;
    padding-left: 14px;
    border: none;
}
.filter_inputs{
    margin: 0 14px;
}
.filter_inputs input::placeholder{
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #484848;
}


/* ============================================ */

.products{
    margin-top: 23px;
}
.items{
    display: flex;
    border-top: 1px solid #DEDEDE;
    border-left: 1px solid #DEDEDE;
    flex-wrap: wrap;
    
}
.big_item{
    display: flex;
    width: 564px;
    height: 358px;
    box-sizing: border-box;
    padding: 21px 17px 16px 21px;
    border-right: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
}
.big_item:hover{
    background-color: #FFF1F1;
    border: 1px solid #FF3D3D;
    cursor: pointer;
    transition: .3s;
}
.big_item img{
    width: 250px;
    height: 250px;
}
.big_item-desc{
    width: 100%;
    margin-left: 24px;
    margin-top: 6px;
}
.big_item-desc h3{
    font-size: 20px;
    line-height: 26px;
    color: #333333;
}
.big_item-desc h4{
    font-size: 16px;
    line-height: 21px;
    color: #989898;
    margin-top: 4px;
}
.old_price{
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: line-through;
    color: #989898;
    margin-top: 20px;
}
.price{
    margin-top: 3px;
    padding-top: 5px;
    border-top: 1px solid #FFBCBC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.current_price{
    font-size: 20px;
    line-height: 26px;
    color: #FF3D3D;
}
.big_item-desc img{
    width: 16px;
    height: 17px;
}




.item{
    width: 282px;
    height: 358px;
    border-right: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    box-sizing: border-box;
    padding: 21px 22px 14px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item:hover{
    background-color: #E8EEFF;
    border: 1px solid #819DEB;
    transition: .3s;
    cursor: pointer;
}
.item_img{
    width: 160px;
    height: 160px;
}
.item-desc h3{
    margin-top: 10px;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}
.item-desc h4{
    font-size: 14px;
    line-height: 18px;
    color: #979797; 
    margin-top: 6px;
}
.item-desc .price{
    display: flex;
    margin-top: 21px;
    border-top: 1px solid #8EACFC;
}
.item .current_price{
    font-size: 20px;
    line-height: 26px;
    color: #325AC0;
}
.current_price img{
    width: 16px;
    height: 17px;
}


.adaptive_filter .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}
.adaptive_filter h5{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}



@media screen and (max-width: 1300px){
    .items{
        border-top: none;
    }
    .big_item,
    .item:nth-child(2){
        border-top: 1px solid #DEDEDE;
    }
    .big_item{
        width: 66.6%;
    }
    .item{
        width: 33.3%;
    }
    .big_item-desc{
        display: flex;
        flex-direction: column;
    }
    .old_price{
        margin-top: auto;
    }
}
@media screen and (max-width: 1024px){
    .burger_menu,
    .adaptive_filter{
        display: block;
    }
    .wrapper{
        padding: 0 20px;
    }
    .telephone{
        display: none;
    }
    .logo{
        margin-left: 41px;
    }
    .find_product{
        margin-left: 41px;
        width: 100%;
    }
    .header_info-link{
        display: none;
    }
    .basket_button{
        display: block;
        margin-left: 41px;
        margin-top: 10px;
    }
    .types_nav,
    .filters{
        display: none;
    }
    .products{
        margin-top: 13px;
    }
}
@media screen and (max-width: 890px){
    .big_item{
        width: 100%;
    }
    .item{
        width: 50%;
    }
    .item:nth-child(2){
        border-top: none;
    }
}
@media screen and (max-width: 600px){
    .logo{
        margin-left: 20px;
    }
    .big_item,
    .item{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .item{
        width: 100%;
        justify-content: space-between;
    }
    .big_item-desc{
        margin: 20px 0 0 0;
    }
    .old_price{
        margin-top: 31px;
    }
    .find_product{
        display: none;
    }
    .search_button{
        display: block;
        margin-left: auto;
    }
    .basket_button{
        margin-left: 18px;
        margin-top: 0;
    }
}

/* ========Modal========== */

.modal_area{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    box-sizing: border-box;
    padding: 0 20px;
}
.close_button{
    margin-top: 120px;
    display: flex;
    margin-left: auto;
}
.close_button:hover{
    opacity: .7;
}
.modal{
    margin-top: 8px;
    width: 100%;
    height: 356px;
    background-color: #FFFFFF;
    padding: 18px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal select{
    width: 100%;
    height: 48px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    padding-left: 17px;
    appearance: none;
    background: url(/img/select_arrow.svg) no-repeat right;
    background-position-x: calc(100% - 18px);
}

.modal div{
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    border: 1px solid #D0D0D0;
    border-radius: 1px;
    padding: 0 10px;
    box-sizing: border-box;
}
.modal input{
    width: 80%;
    margin-left: auto;
    border: none;
    text-align: right;
}
.modal button{
    width: 100%;
    height: 48px;
    background: #FF3D3D;
    border-radius: 1px;
    color: #FFFFFF;
}
.modal button:hover{
    background: #CE2929;
    transition: .3s;
}